<div class="sheet-section sheet-section-Allgemein">
	<table>
		<tr>
			<td width="10%">Name</td>
			<td width="35%">
					<input name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
			</td>
			<td width="1%"></td>
			<td width="13%">Rasse</td>
			<td width="35%">
				<input type="text" size="30" namer20="attr_Rasse">
			</td>
		</tr>
		<tr>
			<td>Kultur</td>
			<td>
				<input type="text" size="30" namer20="attr_Kultur">
			</td>
			<td width="1%"></td>
			<td>Profession</td>
			<td>
				<input type="text" size="30" namer20="attr_Profession">
			</td>
		</tr>
		<tr>
			<td>Stand</td>
			<td>
				<input type="text" size="20" namer20="attr_Stand">
			</td>
			<td width="1%"></td>
			<td>Sozialstatus</td>
			<td>
				<input type="text" size="20" namer20="attr_Sozialstatus">
			</td>
		</tr>
		<tr>
			<td>Titel</td>
			<td>
				<input type="text" size="20" namer20="attr_Titel">
			</td>
			<td width="1%"></td>
			<td>Aussehen</td>
			<td>
				<input type="text" size="20" namer20="attr_Aussehen">
			</td>
		</tr>
		<tr>
			<td>Geschlecht</td>
			<td>
				<input type="text" size="50" namer20="attr_Geschlecht">
			</td>
			<td width="1%"></td>
			<td>Alter/Tsatag</td>
			<td>
				<input type="text" size="10" namer20="attr_Alter">
			</td>
		</tr>
		<tr>
			<td>Größe</td>
			<td>
				<input type="text" size="50" namer20="attr_Groesse">
			</td>
			<td width="1%"></td>
			<td>Gewicht</td>
			<td>
				<input type="text" size="20" namer20="attr_Gewicht">
			</td>
		</tr>
		<tr>
			<td>Haarfarbe</td>
			<td>
				<input type="text" size="50" namer20="attr_Haare">
			</td>
			<td width="1%"></td>
			<td>Augenfarbe</td>
			<td>
				<input type="text" size="20" namer20="attr_Augen">
			</td>
		</tr>
	</table>
</div>