<div class="sheet-section sheet-section-Inventar">
	<!--
	<input type="radio" namer20="attr_inventar_tab" class="sheet-tab sheet-tab31" valuer20="31" title="IInventar" checked="checked">
	<span class="sheet-tab sheet-tab31">Inventar</span>
	<input type="radio" namer20="attr_inventar_tab" class="sheet-tab sheet-tab32" valuer20="32" title="Geldbeutel">
	<span class="sheet-tab sheet-tab32">Geldbeutel</span>
-->
	<table align="center">
		<tr>
			<th>Tragkraft in U: <input class="sheet-stat-immutable" style="width: 4em" disabled="disabled" namer20="attr_Tragkraft" valuer20="(40 * KK)" type="text"></th>
			<th>Last in U: <input namer20="attr_Last" min="0" valuer20="320" style="width: 5em; margin-right: 1em" type="number"></th>
			<th>Behinderung aus Last: <input style="width: 4em" namer20="attr_BE_Last" min="0" valuer20="0" type="number"></th>
		</tr>
	</table>

	<div class="sheet-section sheet-section-IInventar" align="center">
		<table>
			<tr>
				<td><b>Waffen/Rüstung/Kleidung</b>
				</td>
				<td><b>Verbrauchsmaterial</b>
				</td>
				<td><b>Werkzeug etc.</b>
				</td>
				<td><b>Sonstiges</b>
				</td>
			</tr>
			<tr>
				<td>
					<textarea style="width: 180px; height:350px" namer20="attr_Equipment1"></textarea>
				</td>
				<td>
					<textarea style="width: 180px; height:350px" namer20="attr_Equipment2"></textarea>
				</td>
				<td>
					<textarea style="width: 180px; height:350px" namer20="attr_Equipment3"></textarea>
				</td>
				<td>
					<textarea style="width: 180px; height:350px" namer20="attr_Equipment4"></textarea>
				</td>
			</tr>
		</table>
	</div>

	<div class="sheet-section sheet-section-Geldbeutel" align="center">
		<table>
			<tr>
				<td><b>Land</b>
				</td>
				<td colspan="4"><b>Währung</b>
				</td>
				<td><b>Wert in Silbertaler</b>
				</td>
				<td><b>Gewicht in Skrupel</b>
				</td>

			</tr>
			<tr align="center">
				<td>Mittelreich</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" namer20="attr_Dukaten" min="0" valuer20="0"><br>Dukaten</span>
				</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" namer20="attr_Silber" min="0" valuer20="0"><br>Silbertaler</span>
				</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" namer20="attr_Heller" min="0" valuer20="0"><br>Heller</span>
				</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" namer20="attr_Kreuzer" min="0" valuer20="0"><br>Kreuzer</span>
				</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" disabled="disabled" namer20="attr_Geld_Mittelreich" style="width: 7em;" valuer20="(Dukaten}*10) + (Silber}*1) + (Heller*0.1) + (Kreuzer*0.01)"><br></span>
				</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" disabled="disabled" namer20="attr_Gewicht_Mittelreich" style="width: 7em;" valuer20="(Dukaten}*25) + (Silber}*5) + (Heller*5) + (Kreuzer*5)"><br></span>
				</td>
			</tr>
			<tr align="center">
				<td>Kalifat</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" namer20="attr_Marawedi" min="0" valuer20="0"><br>Marawedi</span>
				</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" namer20="attr_Zechine" min="0" valuer20="0"><br>Zechine</span>
				</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" namer20="attr_Muwlat" min="0" valuer20="0"><br>Muwlat</span>
				</td>
				<td></td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" disabled="disabled" namer20="attr_Geld_Kalifat" style="width: 7em;" valuer20="(Marawedi}*20) + (Zechine*2) + (Muwlat*0.05)"><br></span>
				</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" disabled="disabled" namer20="attr_Gewicht_Kalifat" style="width: 7em;" valuer20="(Marawedi}*50) + (Zechine*10) + (Muwlat*2.5)"><br></span>
				</td>
			</tr>
			<tr align="center">
				<td>Al'Anfa</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" namer20="attr_Dublone" min="0" valuer20="0"><br>Dublone</span>
				</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" namer20="attr_Oreal" min="0" valuer20="0"><br>Oreal</span>
				</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" namer20="attr_K_Oreal" min="0" valuer20="0"><br>Kleiner Oreal</span>
				</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" namer20="attr_Dirham" min="0" valuer20="0"><br>Dirham</span>
				</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" disabled="disabled" namer20="attr_Geld_AlAnfa" style="width: 7em;" valuer20="(Dublone}*20) + (Oreal}*1) + (K_Oreal*0.5) + (Dirham*0.01)"><br></span>
				</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" disabled="disabled" namer20="attr_Gewicht_AlAnfa" style="width: 7em;" valuer20="(Dublone}*50) + (Oreal}*5) + (K_Oreal*2.5) + (Dirham*3)"><br></span>
				</td>
			</tr>
			<tr align="center">
				<td>Amazonen</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" namer20="attr_Amazonenkrone" min="0" valuer20="0"><br>Amazonenkrone</span>
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" disabled="disabled" namer20="attr_Geld_Amazonen" style="width: 7em;" valuer20="(Amazonenkrone*12)"><br></span>
				</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" disabled="disabled" namer20="attr_Gewicht_Amazonen" style="width: 7em;" valuer20="(Amazonenkrone*30)"><br></span>
				</td>
			</tr>
			<tr align="center">
				<td>Bornland</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" namer20="attr_Batzen" min="0" valuer20="0"><br>Batzen</span>
				</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" namer20="attr_Groschen" min="0" valuer20="0"><br>Groschen</span>
				</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" namer20="attr_Deut" min="0" valuer20="0"><br>Deut</span>
				</td>
				<td></td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" disabled="disabled" namer20="attr_Geld_Bornland" style="width: 7em;" valuer20="(Batzen}*10) + (Groschen*1) + (Deut*0.1)"><br></span>
				</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" disabled="disabled" namer20="attr_Gewicht_Bornland" style="width: 7em;" valuer20="(Batzen}*25) + (Groschen*5) + (Deut*5)"><br></span>
				</td>
			</tr>
			<tr align="center">
				<td>Horasreich</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" namer20="attr_Horasdor" min="0" valuer20="0"><br>Kusliker Rad/Horasdor</span>
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" disabled="disabled" namer20="attr_Geld_Horasreich" style="width: 7em;" valuer20="(Horasdor*200)"><br></span>
				</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" disabled="disabled" namer20="attr_Gewicht_Horasreich" style="width: 7em;" valuer20="(Horasdor*500)"><br></span>
				</td>
			</tr>
			<tr align="center">
				<td>Meridiana</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" namer20="attr_Krone" min="0" valuer20="0"><br>Krone</span>
				</td>
				<td></td>
				<td></td>
				<td></td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" disabled="disabled" namer20="attr_Geld_Meridiana" style="width: 7em;" valuer20="(Krone*10)"><br></span>
				</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" disabled="disabled" namer20="attr_Gewicht_Meridiana" style="width: 7em;" valuer20="(Krone*20)"><br></span>
				</td>
			</tr>
			<tr align="center">
				<td>Vallusa</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" namer20="attr_Witten" min="0" valuer20="0"><br>Witten</span>
				</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" namer20="attr_Stueber" min="0" valuer20="0"><br>Stüber</span>
				</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" namer20="attr_Flindrich" min="0" valuer20="0"><br>Flindrich</span>
				</td>
				<td></td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" disabled="disabled" namer20="attr_Geld_Valiusa" style="width: 7em;" valuer20="(Witten}*10) + (Stueber*1) + (Flindrich*0.1)"><br></span>
				</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" disabled="disabled" namer20="attr_Gewicht_Valiusa" style="width: 7em;" valuer20="(Witten}*25) + (Stueber*5) + (Flindrich*5)"><br></span>
				</td>
			</tr>
			<tr align="center">
				<td>Xeraanien</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" namer20="attr_Borbaradstaler" min="0" valuer20="0"><br>Borbaradstaler</span>
				</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" namer20="attr_Zholvari" min="0" valuer20="0"><br>Zholvari</span>
				</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" namer20="attr_Splitter" min="0" valuer20="0"><br>Splitter</span>
				</td>
				<td></td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" disabled="disabled" namer20="attr_Geld_Xeraanien" style="width: 7em;" valuer20="(Borbaradstaler}*7) + (Zholvari*1) + (Splitter*0.14)"><br></span>
				</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" disabled="disabled" namer20="attr_Gewicht_Xeraanien" style="width: 7em;" valuer20="(Borbaradstaler}*17) + (Zholvari*5) + (Splitter*3)"><br></span>
				</td>
			</tr>
			<tr align="center">
				<td>Zwerge</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" namer20="attr_Auromox" min="0" valuer20="0"><br>Auromox</span>
				</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" namer20="attr_Arganbrox" min="0" valuer20="0"><br>Arganbrox</span>
				</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" namer20="attr_Atebrox" min="0" valuer20="0"><br>Atebrox</span>
				</td>
				<td></td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" disabled="disabled" namer20="attr_Geld_Zwerge" style="width: 7em;" valuer20="(Auromox}*12) + (Arganbrox*2) + (Atebrox*0.2)"><br></span>
				</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" disabled="disabled" namer20="attr_Gewicht_Zwerge" style="width: 7em;" valuer20="(Auromox}*25) + (Arganbrox*10) + (Atebrox*10)"><br></span>
				</td>
			</tr>
			<tr align="center">
				<td>Andergast &amp; Nostria</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" namer20="attr_NostrischeKrone" min="0" valuer20="0"><br>Nostrische Krone</span>
				</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" namer20="attr_Andrataler" min="0" valuer20="0"><br>Andrataler</span>
				</td>
				<td></td>
				<td></td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" disabled="disabled" namer20="attr_Geld_Nostragast" style="width: 7em;" valuer20="(NostrischeKrone}*5) + (Andrataler*5)"><br></span>
				</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" disabled="disabled" namer20="attr_Gewicht_Nostragast" style="width: 7em;" valuer20="(NostrischeKrone}*5) + (Andrataler*5)"><br></span>
				</td>
			</tr>
			<tr align="center">
				<td>Gesamt</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" disabled="disabled" namer20="attr_Geld_gesamt" style="width: 7em;" valuer20="Geld_Mittelreich} + Geld_Kalifat} + Geld_AlAnfa} + Geld_Amazonen} + Geld_Bornland} + Geld_Horasreich + Geld_Meridiana + Geld_Valiusa + Geld_Xeraanien + Geld_Zwerge + Geld_Nostragast"><br></span>
				</td>
				<td><span class="sheet-table-data sheet-center sheet-small-label">
			<input type="number" disabled="disabled" namer20="attr_GeldGewicht_gesamt" style="width: 7em;" valuer20="Gewicht_Mittelreich} + Gewicht_Kalifat} + Gewicht_AlAnfa} + Gewicht_Amazonen} + Gewicht_Bornland} + Gewicht_Horasreich + Gewicht_Meridiana + Gewicht_Valiusa + Gewicht_Xeraanien + Gewicht_Zwerge + Gewicht_Nostragast"><br></span>
				</td>

		</table>
	</div>

</div>