<div class="sheet-section sheet-section-Liturgien" align="center">
	<div class="sheet-liturgien">
		<br>
		<b>Liturgiekenntnis</b>
		<input type="number" namer20="attr_Liturgiekenntnis" style="width: 5em;">
		<b>Gottheit</b>
		<!--<select type="subtag" namer20="attr_Kirche" style="width: 10em;">
			<option>---</option>
			<option disabled>---Zwölfgötter---</option>
			<option>Praios</option>
			<option>Rondra</option>
			<option>Efferd</option>
			<option>Travia</option>
			<option>Boron</option>
			<option>Hesinde</option>
			<option>Firun</option>
			<option>Tsa</option>
			<option>Phex</option>
			<option>Peraine</option>
			<option>Ingerimm</option>
			<option>Rahja</option>
			<option disabled>---Andere---</option>
			<option>Kor</option>
			<option>Aves</option>
			<option>Nandus</option>
			<option>Ifirn</option>
			<option>Swafnir</option>
			<option>Namenloser</option>
			<option>Satuaria</option>
			<option>Chr'Ssir'Ssr</option>
			<option>Kamaluq</option>
			<option>Himmelswölfe</option>
			<option>Tairach</option>
			<option>Brazoragh</option>
			<option>Nurti</option>
		</select>-->
		<b>Entrückung</b>
		<input type="number" namer20="attr_Entrueckung" style="width: 5em;">
		<br>
		<br>
		<b>Leittalente</b>
		<br>
		<table>
			<tr>
				<td><b>Mirakel + </b>
				</td>
				<td width="90%">
					<input type="text" namer20="attr_Mirakel + " style="width:50em">
				</td>
			</tr>
			<tr>
				<td><b>Mirakel - </b>
				</td>
				<td width="90%">
					<input type="text" namer20="attr_Mirakel - " style="width:50em">
				</td>
			</tr>
		</table>
		<br>
		<!--<select namer20="attr_gm_roll_opt" class="sheet-gm-roll-selector">
			<option valuer20=" ">Offen würfeln</option>
			<option valuer20="/w GM ">Nur zu Meister würfeln</option>
		</select>-->
		<br>
		<b style="display: inline-block; width: 2em">SE</b>
		<b style="display: inline-block; width: 15em;">Name</b>
		<b style="display: inline-block; width: 5em;">Grad</b>
		<b style="display: inline-block; width: 35em;">Wirkung</b>
		<fieldset class="repeating_Liturgien">
			<input type="checkbox" namer20="attr_SE" style="width: 2em">
			<input type="text" namer20="attr_LiturgieName" style="width: 15em;">
			<!--<select type="number" namer20="attr_LiturgieGrad" style="width: 5em;">
				<option>---</option>
				<option>0</option>
				<option>I</option>
				<option>II</option>
				<option>III</option>
				<option>IV</option>
				<option>V</option>
				<option>VI</option>
				<option>VII</option>
				<option>VIII</option>
			</select>-->
			<input type="text" namer20="attr_LiturgieWirkung" style="width: 25em;">
			<button type="roll" valuer20="ROLL_TEMPLATE"></button>-->
		</fieldset>
	</div>
</div>