<div class="sheet-section sheet-section-Magie">

		{{#each data.owned.spells as |spell id|}}
		<li class="item spell flexrow" data-item-id="{{spell._id}}">
				<button class="spell-key" type="roll" name="{{spell._id}}"> <span>{{spell.name}}</span></button>
				<input type="number" style="width: 4em" name="data.owned.{{spell._id}}.data.value" value="{{spell.data.value}}">
		</li>
		{{/each}}
</div>