<div class="sheet-section sheet-section-Sprachen">
		<!--<select namer20="attr_gm_roll_opt" class="sheet-gm-roll-selector">
			<option valuer20=" ">Offen würfeln</option>
			<option valuer20="/w GM ">Nur zu Meister würfeln</option>
		</select>-->
		<br><h3>Sprachen</h3>

		<div style="text-align:left;">
			<div style="display:inline-block">
				<div class="sheet-talent-cell sheet-talent-name sheet-talent-head">Talent</div>
				<div class="sheet-talent-cell sheet-talent-spez sheet-talent-head">Spezialisierung</div>
				<div class="sheet-talent-cell sheet-talent-taw sheet-talent-head">TaW</div>
				<div class="sheet-talent-cell sheet-talent-komp sheet-talent-head">Komp</div>
				<!--<div class="sheet-talent-cell sheet-talent-probe sheet-talent-head">Probe</div>-->
			</div>
			<input class="sheet-talent-garethi sheet-default-hide" type="checkbox" namer20="attr_talent_garethi" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Garethi" type="roll" valuer20="ROLL_TEMPLATE"> <span>Garethi</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_garethi">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_garethi" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_garethi" disabled="disabled" valuer20="18">
				<br>
			</div>
			<input class="sheet-talent-bosparano sheet-default-hide" type="checkbox" namer20="attr_talent_bosparano" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Bosparano" type="roll" valuer20="ROLL_TEMPLATE"> <span>Bosparano</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_bosparano">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_bosparano" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_bosparano" disabled="disabled" valuer20="21">
				<br>
			</div>
			<input class="sheet-talent-aureliani sheet-default-hide" type="checkbox" namer20="attr_talent_aureliani" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Aureliani" type="roll" valuer20="ROLL_TEMPLATE"> <span>Aureliani</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_aureliani">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_aureliani" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_aureliani" disabled="disabled" valuer20="21">
				<br>
			</div>
			<input class="sheet-talent-zyklopaisch sheet-default-hide" type="checkbox" namer20="attr_talent_zyklopaisch" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Zyklopaisch" type="roll" valuer20="ROLL_TEMPLATE"> <span>Zyklopäisch</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_zyklopaisch">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_zyklopaisch" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_zyklopaisch" disabled="disabled" valuer20="18">
				<br>
			</div>
			<input class="sheet-talent-tulamidya sheet-default-hide" type="checkbox" namer20="attr_talent_tulamidya" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Tulamidya" type="roll" valuer20="ROLL_TEMPLATE"> <span>Tulamidya</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_tulamidya">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_tulamidya" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_tulamidya" disabled="disabled" valuer20="18">
				<br>
			</div>
			<input class="sheet-talent-urtulamidya sheet-default-hide" type="checkbox" namer20="attr_talent_urtulamidya" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Ur-Tulamidya" type="roll" valuer20="ROLL_TEMPLATE"> <span>Ur-Tulamidya</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_urtulamidya">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_urtulamidya" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_urtulamidya" disabled="disabled" valuer20="21">
				<br>
			</div>
			<input class="sheet-talent-zelemja sheet-default-hide" type="checkbox" namer20="attr_talent_zelemja" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Zelemja" type="roll" valuer20="ROLL_TEMPLATE"> <span>Zelemja</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_zelemja">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_zelemja" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_zelemja" disabled="disabled" valuer20="18">
				<br>
			</div>
			<input class="sheet-talent-alaani sheet-default-hide" type="checkbox" namer20="attr_talent_alaani" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Alaani" type="roll" valuer20="ROLL_TEMPLATE"> <span>Alaani</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_alaani">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_alaani" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_alaani" disabled="disabled" valuer20="21">
				<br>
			</div>
			<input class="sheet-talent-zhulchammaqra sheet-default-hide" type="checkbox" namer20="attr_talent_zhulchammaqra" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Zhulchammaqra" type="roll" valuer20="ROLL_TEMPLATE"> <span>Zhulchammaqra</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_zhulchammaqra">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_zhulchammaqra" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_zhulchammaqra" disabled="disabled" valuer20="15">
				<br>
			</div>
			<input class="sheet-talent-ferkina sheet-default-hide" type="checkbox" namer20="attr_talent_ferkina" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Ferkina" type="roll" valuer20="ROLL_TEMPLATE"> <span>Ferkina</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_ferkina">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_ferkina" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_ferkina" disabled="disabled" valuer20="16">
				<br>
			</div>
			<input class="sheet-talent-ruuz sheet-default-hide" type="checkbox" namer20="attr_talent_ruuz" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Ruuz" type="roll" valuer20="ROLL_TEMPLATE"> <span>Ruuz</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_ruuz">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_ruuz" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_ruuz" disabled="disabled" valuer20="18">
				<br>
			</div>
			<input class="sheet-talent-alteskemi sheet-default-hide" type="checkbox" namer20="attr_talent_alteskemi" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="AltesKemi" type="roll" valuer20="ROLL_TEMPLATE"> <span>Altes Kemi</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_alteskemi">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_alteskemi" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_alteskemi" disabled="disabled" valuer20="18">
				<br>
			</div>
			<input class="sheet-talent-rabensprache sheet-default-hide" type="checkbox" namer20="attr_talent_rabensprache" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Rabensprache" type="roll" valuer20="ROLL_TEMPLATE"> <span>Rabensprache</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_rabensprache">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_rabensprache" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_rabensprache" disabled="disabled" valuer20="15">
				<br>
			</div>
			<input class="sheet-talent-thorwalsch sheet-default-hide" type="checkbox" namer20="attr_talent_thorwalsch" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Thorwalsch" type="roll" valuer20="ROLL_TEMPLATE"> <span>Thorwalsch</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_thorwalsch">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_thorwalsch" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_thorwalsch" disabled="disabled" valuer20="18">
				<br>
			</div>
			<input class="sheet-talent-hjaldingsch sheet-default-hide" type="checkbox" namer20="attr_talent_hjaldingsch" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Hjaldinsch" type="roll" valuer20="ROLL_TEMPLATE"> <span>Hjaldingsch</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_hjaldingsch">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_hjaldingsch" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_hjaldingsch" disabled="disabled" valuer20="18">
				<br>
			</div>
			<input class="sheet-talent-isdira sheet-default-hide" type="checkbox" namer20="attr_talent_isdira" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Isdira" type="roll" valuer20="ROLL_TEMPLATE"> <span>Isdira</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_isdira">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_isdira" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_isdira" disabled="disabled" valuer20="21">
				<br>
			</div>
			<input class="sheet-talent-asdharia sheet-default-hide" type="checkbox" namer20="attr_talent_asdharia" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Asdharia" type="roll" valuer20="ROLL_TEMPLATE"> <span>Asdharia</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_asdharia">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_asdharia" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_asdharia" disabled="disabled" valuer20="24">
				<br>
			</div>
			<input class="sheet-talent-rogolan sheet-default-hide" type="checkbox" namer20="attr_talent_rogolan" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Rogolan" type="roll" valuer20="ROLL_TEMPLATE"> <span>Rogolan</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_rogolan">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_rogolan" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_rogolan" disabled="disabled" valuer20="21">
				<br>
			</div>
			<input class="sheet-talent-angram sheet-default-hide" type="checkbox" namer20="attr_talent_angram" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Angram" type="roll" valuer20="ROLL_TEMPLATE"> <span>Angram</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_angram">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_angram" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_angram" disabled="disabled" valuer20="21">
				<br>
			</div>
			<input class="sheet-talent-ologhaijan sheet-default-hide" type="checkbox" namer20="attr_talent_ologhaijan" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Ologhaijan" type="roll" valuer20="ROLL_TEMPLATE"> <span>Ologhaijan</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_ologhaijan">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_ologhaijan" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_ologhaijan" disabled="disabled" valuer20="15">
				<br>
			</div>
			<input class="sheet-talent-oloarkh sheet-default-hide" type="checkbox" namer20="attr_talent_oloarkh" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Oloarkh" type="roll" valuer20="ROLL_TEMPLATE"> <span>Oloarkh</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_oloarkh">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_oloarkh" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_oloarkh" disabled="disabled" valuer20="10">
				<br>
			</div>
			<input class="sheet-talent-mahrisch sheet-default-hide" type="checkbox" namer20="attr_talent_mahrisch" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Mahrisch" type="roll" valuer20="ROLL_TEMPLATE"> <span>Mahrisch</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_mahrisch">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_mahrisch" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_mahrisch" disabled="disabled" valuer20="20">
				<br>
			</div>
			<input class="sheet-talent-rissoal sheet-default-hide" type="checkbox" namer20="attr_talent_rissoal" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Rissoal" type="roll" valuer20="ROLL_TEMPLATE"> <span>Rissoal</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_rissoal">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_rissoal" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_rissoal" disabled="disabled" valuer20="20">
				<br>
			</div>
			<input class="sheet-talent-drachisch sheet-default-hide" type="checkbox" namer20="attr_talent_drachisch" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Drachisch" type="roll" valuer20="ROLL_TEMPLATE"> <span>Drachisch</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_drachisch">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_drachisch" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_drachisch" disabled="disabled" valuer20="21">
				<br>
			</div>
			<input class="sheet-talent-goblinisch sheet-default-hide" type="checkbox" namer20="attr_talent_goblinisch" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Goblinisch" type="roll" valuer20="ROLL_TEMPLATE"> <span>Goblinisch</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_goblinisch">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_goblinisch" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_goblinisch" disabled="disabled" valuer20="12">
				<br>
			</div>
			<input class="sheet-talent-grolmisch sheet-default-hide" type="checkbox" namer20="attr_talent_grolmisch" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Grolmisch" type="roll" valuer20="ROLL_TEMPLATE"> <span>Grolmisch</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_grolmisch">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_grolmisch" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_grolmisch" disabled="disabled" valuer20="17">
				<br>
			</div>
			<input class="sheet-talent-koboldisch sheet-default-hide" type="checkbox" namer20="attr_talent_koboldisch" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Koboldisch" type="roll" valuer20="ROLL_TEMPLATE"> <span>Koboldisch</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_koboldisch">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_koboldisch" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_koboldisch" disabled="disabled" valuer20="15">
				<br>
			</div>
			<input class="sheet-talent-molochisch sheet-default-hide" type="checkbox" namer20="attr_talent_molochisch" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Molochisch" type="roll" valuer20="ROLL_TEMPLATE"> <span>Molochisch</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_molochisch">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_molochisch" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_molochisch" disabled="disabled" valuer20="17">
				<br>
			</div>
			<input class="sheet-talent-neckergesang sheet-default-hide" type="checkbox" namer20="attr_talent_neckergesang" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Neckergesang" type="roll" valuer20="ROLL_TEMPLATE"> <span>Neckergesang</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_neckergesang">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_neckergesang" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_neckergesang" disabled="disabled" valuer20="18">
				<br>
			</div>
			<input class="sheet-talent-nujuka sheet-default-hide" type="checkbox" namer20="attr_talent_nujuka" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Nujuka" type="roll" valuer20="ROLL_TEMPLATE"> <span>Nujuka</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_nujuka">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_nujuka" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_nujuka" disabled="disabled" valuer20="15">
				<br>
			</div>
			<input class="sheet-talent-rssahh sheet-default-hide" type="checkbox" namer20="attr_talent_rssahh" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Rssahh" type="roll" valuer20="ROLL_TEMPLATE"> <span>Rssahh</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_rssahh">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_rssahh" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_rssahh" disabled="disabled" valuer20="18">
				<br>
			</div>
			<input class="sheet-talent-trollisch sheet-default-hide" type="checkbox" namer20="attr_talent_trollisch" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Trollisch" type="roll" valuer20="ROLL_TEMPLATE"> <span>Trollisch</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_trollisch">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_trollisch" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_trollisch" disabled="disabled" valuer20="15">
				<br>
			</div>
			<input class="sheet-talent-waldmenschensprache sheet-default-hide" type="checkbox" namer20="attr_talent_waldmenschensprache" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Waldmenschen-Sprache" type="roll" valuer20="ROLL_TEMPLATE"> <span>Waldmenschen-Sprachen</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_waldmenschensprache">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_waldmenschensprache" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_waldmenschensprache" disabled="disabled" valuer20="15">
				<br>
			</div>
			<input class="sheet-talent-zlit sheet-default-hide" type="checkbox" namer20="attr_talent_zlit" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="ZLit" type="roll" valuer20="ROLL_TEMPLATE"> <span>Z'Lit</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_zlit">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_zlit" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_zlit" disabled="disabled" valuer20="17">
				<br>
			</div>
			<input class="sheet-talent-zhayad sheet-default-hide" type="checkbox" namer20="attr_talent_zhayad" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Zhayad" type="roll" valuer20="ROLL_TEMPLATE"> <span>Zhayad</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_zhayad">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_zhayad" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_zhayad" disabled="disabled" valuer20="15">
				<br>
			</div>
			<input class="sheet-talent-atak sheet-default-hide" type="checkbox" namer20="attr_talent_atak" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Atak" type="roll" valuer20="ROLL_TEMPLATE"> <span>Atak</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_atak">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_atak" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_atak" disabled="disabled" valuer20="12">
				<br>
			</div>
			<input class="sheet-talent-fuchsisch sheet-default-hide" type="checkbox" namer20="attr_talent_fuchsisch" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Fuchsisch" type="roll" valuer20="ROLL_TEMPLATE"> <span>Füchsisch</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_fuchsisch">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_fuchsisch" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_fuchsisch" disabled="disabled" valuer20="12">
				<br>
			</div>

			<div align="left">
				<div align="left" style="font-weight:bold; display:inline-block; width:9em;">Aktivierung</div>
				<label class="sheet-desc-show">
					<input type="checkbox" class="sheet-desc-show" valuer20="1">
					<span></span>
					<div class="sheet-desc sheet-activation-items">
						<table style="width:100%">
							<tr>
								<td valign="top">
									<label><input type="checkbox" class="sheet-invisible">------Garethi-Familie------</label>
									<label><input type="checkbox" namer20="attr_talent_garethi" valuer20="1">Garethi</label>
									<label><input type="checkbox" namer20="attr_talent_bosparano" valuer20="1">Bosparano</label>
									<label><input type="checkbox" namer20="attr_talent_aureliani" valuer20="1">Aureliani</label>
									<label><input type="checkbox" namer20="attr_talent_zyklopaisch" valuer20="1">Zyklopäisch</label>
									<label><input type="checkbox" class="sheet-invisible">-----Tulamidya-Familie-----</label>
									<label><input type="checkbox" namer20="attr_talent_tulamidya" valuer20="1">Tulamidya</label>
									<label><input type="checkbox" namer20="attr_talent_urtulamidya" valuer20="1">Ur-Tulamidya</label>
									<label><input type="checkbox" namer20="attr_talent_zelemja" valuer20="1">Zelemja</label>
									<label><input type="checkbox" namer20="attr_talent_alaani" valuer20="1">Alaani</label>
									<label><input type="checkbox" namer20="attr_talent_zhulchammaqra" valuer20="1">Zhulchammaqra</label>
									<label><input type="checkbox" namer20="attr_talent_ferkina" valuer20="1">Ferkina</label>
									<label><input type="checkbox" namer20="attr_talent_ruuz" valuer20="1">Ruuz</label>
									<label><input type="checkbox" namer20="attr_talent_alteskemi" valuer20="1">Altes Kemi</label>
									<label><input type="checkbox" namer20="attr_talent_rabensprache" valuer20="1">Rabensprache</label>
								</td>
								<td valign="top">
									<label><input type="checkbox" class="sheet-invisible">------Thorwalsch-Familie-----</label>
									<label><input type="checkbox" namer20="attr_talent_thorwalsch" valuer20="1">Thorwalsch</label>
									<label><input type="checkbox" namer20="attr_talent_hjaldingsch" valuer20="1">Hjaldingsch</label>
									<label><input type="checkbox" class="sheet-invisible">------Elfisch-Familie------</label>
									<label><input type="checkbox" namer20="attr_talent_isdira" valuer20="1">Isdira</label>
									<label><input type="checkbox" namer20="attr_talent_asdharia" valuer20="1">Asdharia</label>
									<label><input type="checkbox" class="sheet-invisible">-----Zwergisch-Familie------</label>
									<label><input type="checkbox" namer20="attr_talent_rogolan" valuer20="1">Rogolan</label>
									<label><input type="checkbox" namer20="attr_talent_angram" valuer20="1">Angram</label>
									<label><input type="checkbox" class="sheet-invisible">-----Orkisch-Familie------</label>
									<label><input type="checkbox" namer20="attr_talent_ologhaijan" valuer20="1">Ologhaijan</label>
									<label><input type="checkbox" namer20="attr_talent_oloarkh" valuer20="1">Oloarkh</label>
									<label><input type="checkbox" class="sheet-invisible">------Rissoal-Familie-----</label>
									<label><input type="checkbox" namer20="attr_talent_mahrisch" valuer20="1">Mahrisch</label>
									<label><input type="checkbox" namer20="attr_talent_rissoal" valuer20="1">Rissoal</label>
								</td>
								<td valign="top">
									<label><input type="checkbox" class="sheet-invisible">------Einzelne Sprachen-----</label>
									<label><input type="checkbox" namer20="attr_talent_drachisch" valuer20="1">Drachisch</label>
									<label><input type="checkbox" namer20="attr_talent_goblinisch" valuer20="1">Goblinisch</label>
									<label><input type="checkbox" namer20="attr_talent_grolmisch" valuer20="1">Grolmisch</label>
									<label><input type="checkbox" namer20="attr_talent_koboldisch" valuer20="1">Koboldisch</label>
									<label><input type="checkbox" namer20="attr_talent_molochisch" valuer20="1">Molochisch</label>
									<label><input type="checkbox" namer20="attr_talent_neckergesang" valuer20="1">Neckergesang</label>
									<label><input type="checkbox" namer20="attr_talent_nujuka" valuer20="1">Nujuka</label>
									<label><input type="checkbox" namer20="attr_talent_rssahh" valuer20="1">Rssahh</label>
									<label><input type="checkbox" namer20="attr_talent_waldmenschensprache" valuer20="1">Waldmenschen-Sprachen</label>
									<label><input type="checkbox" namer20="attr_talent_zlit" valuer20="1">Z'Lit</label>
									<label><input type="checkbox" class="sheet-invisible">------Geheimsprachen-----</label>
									<label><input type="checkbox" namer20="attr_talent_zhayad" valuer20="1">Zhayad</label>
									<label><input type="checkbox" namer20="attr_talent_atak" valuer20="1">Atak</label>
									<label><input type="checkbox" namer20="attr_talent_fuchsisch" valuer20="1">Füchsisch</label>
								</td>
							</tr>
						</table>
					</div>
				</label>
			</div>
		</div>

		<h3>Lesen &amp; Schreiben</h3>

		<div style="text-align:left;">
			<div style="display:inline-block">
				<div class="sheet-talent-cell sheet-talent-name sheet-talent-head">Talent</div>
				<div class="sheet-talent-cell sheet-talent-spez sheet-talent-head">Spezialisierung</div>
				<div class="sheet-talent-cell sheet-talent-taw sheet-talent-head">TaW</div>
				<div class="sheet-talent-cell sheet-talent-komp sheet-talent-head">Komp</div>
				<!--<div class="sheet-talent-cell sheet-talent-probe sheet-talent-head">Probe</div>-->
			</div>
			<input class="sheet-talent-schrift-altesalaani sheet-default-hide" type="checkbox" namer20="attr_talent_schrift_altesalaani" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="AltesAlaani" type="roll" valuer20="ROLL_TEMPLATE"> <span>Altes Alaani</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_schrift_altesalaani">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_schrift_altesalaani" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_schrift_altesalaani" disabled="disabled" valuer20="18">
				<br>
			</div>
			<input class="sheet-talent-schrift-alteskemi sheet-default-hide" type="checkbox" namer20="attr_talent_schrift_alteskemi" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="AltesKemiSchrift" type="roll" valuer20="ROLL_TEMPLATE"> <span>Altes Kemi</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_schrift_alteskemi">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_schrift_alteskemi" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_schrift_alteskemi" disabled="disabled" valuer20="21">
				<br>
			</div>
			<input class="sheet-talent-schrift-amulashtra sheet-default-hide" type="checkbox" namer20="attr_talent_schrift_amulashtra" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Amulashtra" type="roll" valuer20="ROLL_TEMPLATE"> <span>Amulashtra</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_schrift_amulashtra">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_schrift_amulashtra" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_schrift_amulashtra" disabled="disabled" valuer20="17">
				<br>
			</div>
			<input class="sheet-talent-schrift-angram sheet-default-hide" type="checkbox" namer20="attr_talent_schrift_angram" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Angram" type="roll" valuer20="ROLL_TEMPLATE"> <span>Angram</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_schrift_angram">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_schrift_angram" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_schrift_angram" disabled="disabled" valuer20="21">
				<br>
			</div>
			<input class="sheet-talent-schrift-arkanil sheet-default-hide" type="checkbox" namer20="attr_talent_schrift_arkanil" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Arkanil" type="roll" valuer20="ROLL_TEMPLATE"> <span>Arkanil</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_schrift_arkanil">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_schrift_arkanil" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_schrift_arkanil" disabled="disabled" valuer20="24">
				<br>
			</div>
			<input class="sheet-talent-schrift-chrmk sheet-default-hide" type="checkbox" namer20="attr_talent_schrift_chrmk" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Chrmk" type="roll" valuer20="ROLL_TEMPLATE"> <span>Chrmk</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_schrift_chrmk">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_schrift_chrmk" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_schrift_chrmk" disabled="disabled" valuer20="18">
				<br>
			</div>
			<input class="sheet-talent-schrift-chuchas sheet-default-hide" type="checkbox" namer20="attr_talent_schrift_chuchas" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Chuchas" type="roll" valuer20="ROLL_TEMPLATE"> <span>Chuchas</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_schrift_chuchas">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_schrift_chuchas" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_schrift_chuchas" disabled="disabled" valuer20="24">
				<br>
			</div>
			<input class="sheet-talent-schrift-drakhardzinken sheet-default-hide" type="checkbox" namer20="attr_talent_schrift_drakhardzinken" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Drakhard-Zinken" type="roll" valuer20="ROLL_TEMPLATE"> <span>Drakhard-Zinken</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_schrift_drakhardzinken">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_schrift_drakhardzinken" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_schrift_drakhardzinken" disabled="disabled" valuer20="9">
				<br>
			</div>
			<input class="sheet-talent-schrift-draknedglyphen sheet-default-hide" type="checkbox" namer20="attr_talent_schrift_draknedglyphen" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Drakned-Glyphen" type="roll" valuer20="ROLL_TEMPLATE"> <span>Drakned-Glyphen</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_schrift_draknedglyphen">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_schrift_draknedglyphen" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_schrift_draknedglyphen" disabled="disabled" valuer20="15">
				<br>
			</div>
			<input class="sheet-talent-schrift-glyphenvonunau sheet-default-hide" type="checkbox" namer20="attr_talent_schrift_glyphenvonunau" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="GlyphenvonUnau" type="roll" valuer20="ROLL_TEMPLATE"> <span>Geheiligte Glyphen von Unau</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_schrift_glyphenvonunau">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_schrift_glyphenvonunau" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_schrift_glyphenvonunau" disabled="disabled" valuer20="13">
				<br>
			</div>
			<input class="sheet-talent-schrift-gimaril sheet-default-hide" type="checkbox" namer20="attr_talent_schrift_gimaril" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Gimaril" type="roll" valuer20="ROLL_TEMPLATE"> <span>Gimaril</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_schrift_gimaril">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_schrift_gimaril" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_schrift_gimaril" disabled="disabled" valuer20="10">
				<br>
			</div>
			<input class="sheet-talent-schrift-gjalskisch sheet-default-hide" type="checkbox" namer20="attr_talent_schrift_gjalskisch" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Gjalskisch" type="roll" valuer20="ROLL_TEMPLATE"> <span>Gjalskisch</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_schrift_gjalskisch">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_schrift_gjalskisch" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_schrift_gjalskisch" disabled="disabled" valuer20="14">
				<br>
			</div>
			<input class="sheet-talent-schrift-hjaldingscherunen sheet-default-hide" type="checkbox" namer20="attr_talent_schrift_hjaldingscherunen" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="HjaldingscheRunen" type="roll" valuer20="ROLL_TEMPLATE"> <span>Hjaldingsche Runen</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_schrift_hjaldingscherunen">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_schrift_hjaldingscherunen" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_schrift_hjaldingscherunen" disabled="disabled" valuer20="16">
				<br>
			</div>
			<input class="sheet-talent-schrift-imperialezeichen sheet-default-hide" type="checkbox" namer20="attr_talent_schrift_imperialezeichen" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="ImperialeZeichen" type="roll" valuer20="ROLL_TEMPLATE"> <span>Imperiale Zeichen</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_schrift_imperialezeichen">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_schrift_imperialezeichen" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_schrift_imperialezeichen" disabled="disabled" valuer20="12">
				<br>
			</div>
			<input class="sheet-talent-schrift-isdira sheet-default-hide" type="checkbox" namer20="attr_talent_schrift_isdira" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Isdira-Asdharia" type="roll" valuer20="ROLL_TEMPLATE"> <span>Isdira/Asdharia</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_schrift_isdira">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_schrift_isdira" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_schrift_isdira" disabled="disabled" valuer20="18">
				<br>
			</div>
			<input class="sheet-talent-schrift-kuslikerzeichen sheet-default-hide" type="checkbox" namer20="attr_talent_schrift_kuslikerzeichen" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="KuslikerZeichen" type="roll" valuer20="ROLL_TEMPLATE"> <span>Kusliker Zeichen</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_schrift_kuslikerzeichen">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_schrift_kuslikerzeichen" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_schrift_kuslikerzeichen" disabled="disabled" valuer20="10">
				<br>
			</div>
			<input class="sheet-talent-schrift-mahrischeglyphen sheet-default-hide" type="checkbox" namer20="attr_talent_schrift_mahrischeglyphen" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="MahrischeGlyphen" type="roll" valuer20="ROLL_TEMPLATE"> <span>Mahrische Glyphen</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_schrift_mahrischeglyphen">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_schrift_mahrischeglyphen" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_schrift_mahrischeglyphen" disabled="disabled" valuer20="15">
				<br>
			</div>
			<input class="sheet-talent-schrift-nanduria sheet-default-hide" type="checkbox" namer20="attr_talent_schrift_nanduria" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Nanduria" type="roll" valuer20="ROLL_TEMPLATE"> <span>Nanduria</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_schrift_nanduria">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_schrift_nanduria" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_schrift_nanduria" disabled="disabled" valuer20="10">
				<br>
			</div>
			<input class="sheet-talent-schrift-rogolan sheet-default-hide" type="checkbox" namer20="attr_talent_schrift_rogolan" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Rogolan" type="roll" valuer20="ROLL_TEMPLATE"> <span>Rogolan</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_schrift_rogolan">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_schrift_rogolan" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_schrift_rogolan" disabled="disabled" valuer20="11">
				<br>
			</div>
			<input class="sheet-talent-schrift-troll sheet-default-hide" type="checkbox" namer20="attr_talent_schrift_troll" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="TrollischeRaumbilderschrift" type="roll" valuer20="ROLL_TEMPLATE"> <span>Trollische 'Raumbilderschrift'</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_schrift_troll">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_schrift_troll" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_schrift_troll" disabled="disabled" valuer20="24">
				<br>
			</div>
			<input class="sheet-talent-schrift-tulamidya sheet-default-hide" type="checkbox" namer20="attr_talent_schrift_tulamidya" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="TulamidyaSchrift" type="roll" valuer20="ROLL_TEMPLATE"> <span>Tulamidya</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_schrift_tulamidya">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_schrift_tulamidya" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_schrift_tulamidya" disabled="disabled" valuer20="14">
				<br>
			</div>
			<input class="sheet-talent-schrift-urtulamidya sheet-default-hide" type="checkbox" namer20="attr_talent_schrift_urtulamidya" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="Ur-TulamidyaSchrift" type="roll" valuer20="ROLL_TEMPLATE"> <span>Ur-Tulamidya</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_schrift_urtulamidya">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_schrift_urtulamidya" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_schrift_urtulamidya" disabled="disabled" valuer20="16">
				<br>
			</div>
			<input class="sheet-talent-schrift-zhayad sheet-default-hide" type="checkbox" namer20="attr_talent_schrift_zhayad" valuer20="1">
			<div class="sheet-talent">
				<div class="sheet-talent-cell sheet-talent-name"><!--<button name="ZhayadSchrift" type="roll" valuer20="ROLL_TEMPLATE"> <span>Zhayad</span></button>--></div>
				<input type="text" class="sheet-talent-spez" namer20="attr_Spez_schrift_zhayad">
				<input type="number" class="sheet-talent-taw" namer20="attr_TaW_schrift_zhayad" min="-4" valuer20="0">
				<input type="text" class="sheet-talent-komp sheet-stat-immutable" namer20="attr_Komp_schrift_zhayad" disabled="disabled" valuer20="18">
				<br>
			</div>
			<div align="left">
				<div align="left" style="font-weight:bold; display:inline-block; width:9em;">Aktivierung</div>
				<label class="sheet-desc-show">
					<input type="checkbox" class="sheet-desc-show" valuer20="1">
					<span></span>
					<div class="sheet-desc sheet-activation-items">
						<table style="width:100%">
							<tr>
								<td valign="top">
									<label><input type="checkbox" namer20="attr_talent_schrift_altesalaani" valuer20="1">Altes Alaani</label>
									<label><input type="checkbox" namer20="attr_talent_schrift_alteskemi" valuer20="1">Altes Kemi</label>
									<label><input type="checkbox" namer20="attr_talent_schrift_amulashtra" valuer20="1">Amulashtra</label>
									<label><input type="checkbox" namer20="attr_talent_schrift_angram" valuer20="1">Angram</label>
									<label><input type="checkbox" namer20="attr_talent_schrift_arkanil" valuer20="1">Arkanil</label>
									<label><input type="checkbox" namer20="attr_talent_schrift_chrmk" valuer20="1">Chrmk</label>
									<label><input type="checkbox" namer20="attr_talent_schrift_chuchas" valuer20="1">Chuchas</label>
									<label><input type="checkbox" namer20="attr_talent_schrift_drakhardzinken" valuer20="1">Drakhard-Zinken</label>
									<label><input type="checkbox" namer20="attr_talent_schrift_draknedglyphen" valuer20="1">Drakned-Glyphen</label>
									<label><input type="checkbox" namer20="attr_talent_schrift_glyphenvonunau" valuer20="1">Geheiligte Glyphen von Unau</label>
									<label><input type="checkbox" namer20="attr_talent_schrift_gimaril" valuer20="1">Gimaril</label>
									<label><input type="checkbox" namer20="attr_talent_schrift_gjalskisch" valuer20="1">Gjalskisch</label>
								</td>
								<td valign="top">
									<label><input type="checkbox" namer20="attr_talent_schrift_hjaldingscherunen" valuer20="1">Hjaldingsche Runen</label>
									<label><input type="checkbox" namer20="attr_talent_schrift_imperialezeichen" valuer20="1">Imperiale Zeichen</label>
									<label><input type="checkbox" namer20="attr_talent_schrift_isdira" valuer20="1">Isdira/Asdharia</label>
									<label><input type="checkbox" namer20="attr_talent_schrift_kuslikerzeichen" valuer20="1">Kusliker Zeichen</label>
									<label><input type="checkbox" namer20="attr_talent_schrift_mahrischeglyphen" valuer20="1">Mahrische Glyphen</label>
									<label><input type="checkbox" namer20="attr_talent_schrift_nanduria" valuer20="1">Nanduria</label>
									<label><input type="checkbox" namer20="attr_talent_schrift_rogolan" valuer20="1">Rogolan</label>
									<label><input type="checkbox" namer20="attr_talent_schrift_troll" valuer20="1">Trollische 'Raumbilderschrift'</label>
									<label><input type="checkbox" namer20="attr_talent_schrift_tulamidya" valuer20="1">Tulamidya</label>
									<label><input type="checkbox" namer20="attr_talent_schrift_urtulamidya" valuer20="1">Ur-Tulamidya</label>
									<label><input type="checkbox" namer20="attr_talent_schrift_zhayad" valuer20="1">Zhayad</label>
									<label><input type="checkbox" class="sheet-invisible"></label>
								</td>
							</tr>
						</table>
					</div>
				</label>
			</div>
		</div>
	</div>